<div class="layout w-full">
  <!-- Header condicional basado en la ruta -->
  <!-- <app-header-content *ngIf="shouldShowHeader()"></app-header-content> -->

  <!-- Contenido principal que crecerá para llenar el espacio disponible -->
  @if(!isLogged){
    <app-navbar-content></app-navbar-content>
  }
  <main [ngClass]="{'mt-20': !isLogged}" class="flex-1">
    <router-outlet></router-outlet>
  </main>

  <!-- Footer siempre presente -->
  <!-- <app-footer-content></app-footer-content> -->
  <app-footer-content></app-footer-content>
</div>
