<section class="w-full min-h-full bg-[#F8F7F4]">

  <!-- destacados (carrusel) -->
  <section id="container-slider" class="w-[99vw]">
    <div id="slider-track" class="flex">
      @for(i of [1,2];track i){
      <div class="featured-products-list">
        @for(product of products$|async; track product){
          <div class="mx-1">
          <app-featured-product-card
            class="product-card"
            [product]="product"
            (dblclick)="onCallProductDetail()"
          ></app-featured-product-card>
          </div>
        }
      </div>
      }
    </div>
  </section>


  <!--search bar-->
  <section class="flex w-full py-5 justify-center">
    <div class="w-[60%] flex">
      <nz-input-group [nzPrefix]="suffixIconSearch" class="shadow-md focus:!border-yellow-500 focus:!ring-yellow-500 hover:!border-yellow-400">
        <input type="text" nz-input placeholder="Buscar..." class="" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <nz-icon nzType="search" />
      </ng-template>
      <button nz-button class="w-3" (click)="OnOpenFilterMenu()"> <nz-icon nzType="filter" nzTheme="outline" /></button>
    </div>
  </section>

  <!-- productos recientes -->
  <section class="w-full flex flex-row justify-evenly flex-wrap gap-x-2 gap-y-8 px-15 py-10 ">
  @for (product of filteredProducts$|async; track product) {
    <app-recent-product-card
      [product]="product"
      (dblclick)="onCallProductDetail()"
    ></app-recent-product-card>
  }
  </section>
</section>


@if(openFilterMenu) {
  <app-filter-menu (closeOutput)="onClickCloseMenu()" (filterCategories)="updateFilters($event)" ></app-filter-menu>
}
